.pagination {
            font-size: 80%;
        }
        
.pagination a {
    text-decoration: none;
	border: solid 1px #AAE;
	
	    overflow: hidden;
	    background: #E8D55B;
	color: black;
}

.pagination a, .pagination span {
    display: block;
    float: left;
    padding: 0.3em 0.5em;
    margin-right: 5px;
	margin-bottom: 5px;
	min-width:1em;
	text-align:center;
	background: #E8D55B;
	color: black;
}

.pagination .current {
    background: #9E913C;
    
    color: white;
	border: solid 1px #AAE;
}

.pagination .current.prev, .pagination .current.next{
	color:black;
	border-color:black;
	background:#E8D55B;
}

#Paginationroom{clear:both;}

#Paginationpackage{clear:both;}